.main{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 30px;
  margin: 0 auto;
  max-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  &:hover{
    transform: translateY(-5px);
  }

}