body{
    background: #0f172a;
}
.glass{
    background: rgba(42, 113, 190, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.9px);
    -webkit-backdrop-filter: blur(12.9px);
    border: 1px solid rgba(42, 113, 190, 0.44);
}
.glass h3{
    color: rgb(187 247 208);
}
.glass h2{
    color:rgb(229 231 235);
}
.glass p{
    color:rgb(148 163 184);
}
.greenb{
    border-color: #19A74B;
}
.primec{
    color: rgb(248 250 252);
}
.secondec{
    color: rgb(190 242 100);
}
.linkc{
    color: rgb(241 245 249);
}